@font-face {
  font-family: 'Warnock-Pro_48450';
  src: url('Warnock-Pro_48450.eot');
  src: url('Warnock-Pro_48450.eot?#iefix') format('embedded-opentype'),
       url('Warnock-Pro_48450.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WarnockPro-Regular';
  src: url('WarnockPro-Regular.svg#WarnockPro-Regular') format('svg'),
       url('WarnockPro-Regular.ttf') format('truetype'),
       url('WarnockPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

